/*---------------------
   Mentions section
  ----------------------*/
.example-wrapper-mentions {
    height: 85vh;
    .mentions-content {
        margin : 1rem auto;
        overflow: scroll;
        height: 100%;
        width: 100%;

        h1,
        h2 {
            text-align: center;
        }
        
        p {
            margin-left: 1rem;
            margin-right: 1rem;
            font-size: 20px;
        }
    } 
}
