{% extends 'base.html.twig' %}

{% block title %}E-mail de vérification{% endblock %}

{% block main_id %}verifEmail{% endblock %}

{% block body %}

    <p>
        Un email de confirmation du compte vient d'être envoyé à votre adresse mail. 
        Veuillez suivre les instructions indiquées.
    </p>
    
    <p>Si vous n'avez pas reçu d'e-mail, veuillez suivre ce lien en<a href="{{ path('app_new_verification_email_user') }}">cliquant ici</a>.</p>

{% endblock %}