{% extends 'base.html.twig' %}

{% block title %}Vérifier mon e-mail{% endblock %}
{% block main_id %}verifEmail{% endblock %}
{% block body %}

    <form action="{{ path('app_new_verification_email_user') }}" method="post" class="text-center">
        <p>
            Votre adresse email n'est pas vérifiée, veuillez faire le nécessaire si vous voulez jouer.
        </p>

        <button class="btn btn-lg" id="conf_my_email" type="submit">
            Confirmer mon adresse email
        </button>           
    <form>

{% endblock %}