{% extends 'base.html.twig' %}

{% block title %}Jouer!{% endblock %}

{% block body %}

<!--<div class="loader">
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
    <div class="four"></div>
    <div class="five"></div>
    <div class="six"></div>
    <div class="seven"></div>
    <div class="eight"></div>
</div>-->

<div class="example-wrapper-jouer">
    <div class="hud">
        <p>{{app.user.username}}</p>
        <p>nom du level</p>
        <div id="score">
        <p> Le nombre d'erreur(s) est de 0 </p>
        </div>
    </div>
    <div>
        <img id="image" src="{{asset('build/images/404.png')}}" alt="">
    </div>
    <button class="savePoints" type="submit">Sauvegardez les points</button>
</div>
{% endblock %}

{% block javascripts %}
    {# Appel au fichier assets/js/fichier.js #}
    {{ encore_entry_script_tags('jouer') }}
{% endblock %}
