{% extends 'base.html.twig' %}

{% block title %}Jouer!{% endblock %}

{% block body %}

<!--<div class="loader">
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
    <div class="four"></div>
    <div class="five"></div>
    <div class="six"></div>
    <div class="seven"></div>
    <div class="eight"></div>
</div>-->

<div class="example-wrapper-jouer">
    <div class="hud">
        <p>username</p>
        <p>nom du level</p>
        <p>nombre de points</p>
    </div>
    <img src="{{asset('build/images/404.png')}}" alt="">
</div>
{% endblock %}
