/*----------------------
   Jouer Section
 ------------------------*/
.example-wrapper-jouer {
    margin: 1em auto;

    h1 {
        text-align: center;
    }

    .hud {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    p {
        margin-left: 1rem;
        margin-right: 3rem;
        font-size: 1.56rem;
        text-align: center;
    }

    .image-button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 75vh;
    
        #image img {
            position: relative;
        }
    
        #image:hover {
            transform: scale(1.10);
        }
    
        #image:active {
            transform: scale(0.99);
        }
    
        img {
            display: block;
            margin-top: 6rem;
            width: 400px;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 1rem;
            cursor: pointer;
        }
    }
    
    .save-points {
        font-weight: 500;
        background: $color1;
        padding: 8px 28px;
        border-radius: 15px;
        border: none;
        outline: none;
        font-family: 'EB Garamond', serif;
        font-size: 1.5rem;
        color: $color2;
        text-align: center;
        margin: 0 auto;
    
        &:hover {
            color: $color3;
            background: $color4;
        }
    }
}

