/* =================================
------------------------------------
  Game Warrior Template
  Version: 1.0
 ------------------------------------ 
 ====================================*/


/*----------------------------------------*/
/* Template default CSS
 /*----------------------------------------*/
$color1: #d473d4;
$color2: #303030;
$color3: #F5F5F5;
$color4: #77b5fe;

html,
body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-image: url("../images/background_404.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;

    h1 {
        font-family: 'Press Start 2P', cursive;
    }

    p {
        font-family: 'EB Garamond', serif;
    }

    a {
        text-decoration: none;
    }
}