<footer class="footer-section">
		
	<ul class="footer-menu">
		<li><a href="index.html">Mentions légales</a></li>
		<li><a href="review.html">Plan du site</a></li>
        <li><a href="#">Copyright &copy;<script>document.write(new Date().getFullYear());</script> by Team LAG</a></li>
	</ul>
		
</footer>