<header class="header-section">
	<div class="container">
		<!-- logo -->
		<a class="site-logo" href="{{ path('home') }}">
			<img src="{{ asset('assets/images/logo.png') }}" alt="">
		</a>
		<div class="button">
		<div class="user-panel">
			<a href="#">Connexion</a>
		</div>
        <div class="user-panel">
            <a href="#">Inscription</a>
        </div>
	</div>

	<!-- site menu -->
	<nav class="main-menu">
		<ul>
			<li><a href="{{path('presentation')}}">Présentation</a></li>
			<li><a href="categories.html">Classement</a></li>
			<!--<li><a href="community.html">Forums</a></li>
			<li><a href="contact.html">Contact</a></li>-->
		</ul>
	</nav>
</header>
