{% extends 'base.html.twig' %}

{% block title %}Changement mot de passe{% endblock %}

{% block body %}
<section class="edit-wrapper">
    <h1>Changement mot de passe</h1>
    <div class="form-edit">
    {{ include('user/_form.html.twig', {'button_label': 'Confirmer'}) }}
    </div>
    <a href="{{ path('app_user_show', {'id': user.id}) }}">Retour au profil</a>
</section>
{% endblock %}
